{% extends "site_base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="flex items-center justify-center">
<div class="w-full sm:max-w-lg lg:max-w-xl bg-white shadow-xl rounded-2xl p-6 sm:p-8 lg:p-10">

    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Login to your account</h2>
    <form method="post" class="space-y-4">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% for field in form %}
        <div>
          <label class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
          {{ field|add_class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" }}
          {% if field.errors %}
            <p class="text-sm text-red-500">{{ field.errors|striptags }}</p>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="w-full py-2 px-4 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg shadow-md">
        Login
      </button>
    </form>
    <p class="text-sm text-center mt-4 text-gray-600">
      Don’t have an account? <a href="{% url 'register' %}" class="text-blue-500 hover:underline">Register here</a>
    </p>

</div>
</div>

{% endblock %}