{% extends "base_layout.html" %}

{% block content %}
    <div class="block rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
        <div class="border-b-2 border-neutral-100 px-6 py-3 dark:border-white/10">
            <h2 class="text-4xl font-extrabold dark:text-white">Authors</h2>
        </div>
      {% for author in authors %}
          <div class="p-3">
            <blockquote>
              <p class="text-xl">
                  <a href="{% url 'author' author.id %}">{{ author.name }}</a>
              </p>
            </blockquote>
          </div>
      {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}