{% extends "layouts/listing_page.html" %}

{% block content_head %}
      <div class="border-b-2 border-neutral-100 px-6 py-3 dark:border-white/10">
        <h2 class="text-4xl font-extrabold dark:text-white">Authors</h2>
      </div>
{% endblock %}

{% block content_main %}
      {% for author in page_obj %}
          <div class="p-3">
            <blockquote>
              <p class="text-xl">
                  <a href="{% url 'author' author.id %}">{{ author.name }}</a>
              </p>
            </blockquote>
          </div>
      {% endfor %}
{% endblock%}
