{% extends "base_layout.html" %}

{% block content %}
    <div class="flex items-center justify-center">
        <div class="w-full sm:max-w-lg lg:max-w-xl bg-white shadow-xl rounded-2xl p-6 sm:p-8 lg:p-10">
            <h2 class="text-2xl font-bold mb-4 text-gray-800">{{ author.name }}</h2>

            <div class="space-y-2 text-gray-700">
                {% for quote in author.quote_set.all %}
                    <div class="p-3">
                        <blockquote>
                          <p class="text-xl">{{ quote.quote }}</p>
                        </blockquote>
                        <p>Posted by {{ quote.poster.full_name }} on {{ quote.posted_date.date }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}