{% extends "layouts/listing_page.html" %}

{% block content_head %}
  <div class="border-neutral-100 px-6 py-3 dark:border-white/10">
    <h2 class="text-4xl font-extrabold dark:text-white">Quotes from {{ author.name }}</h2>
  </div>
{% endblock %}

{% block content_main %}
<div class="block rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
      {% for quote in object_list %}
          <div class="p-6">
            <blockquote>
              <p class="text-xl italic font-semibold text-gray-900 dark:text-white">{{ quote.quote }}</p>
            </blockquote>
            <p>
                Tags: {% for tag in quote.tags.all %}{{ tag.name | lower }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </p>
          </div>
      {% endfor %}
</div>
{% endblock %}

{% block pagination %}{% endblock %}