{% extends "layouts/listing_page.html" %}

{% block content_head %}
  <div class="border-neutral-100 px-6 py-3 dark:border-white/10">
    <h2 class="text-4xl font-extrabold dark:text-white">Welcome!</h2>
  </div>
  <p class="text-2xl px-6">Explore our listing of quotes.</p>
{% endblock %}

{% block content_main %}
<div class="block rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
      {% for quote in page_obj %}
          <div class="p-6">
            <blockquote>
              <p class="text-xl italic font-semibold text-gray-900 dark:text-white">{{ quote.quote }}</p>
            </blockquote>
            <p>
                Author: <a href="{% url 'author' quote.author.id %}">
                            <span class="font-medium text-blue-600 hover:underline">{{ quote.author.name }}</span>
                        </a>
                - Posted by {{ quote.poster.full_name }} on {{ quote.posted_date.date }}
            </p>
            <p>
                Tags: {% for tag in quote.tags.all %}{{ tag.name | lower }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </p>
          </div>
      {% endfor %}
</div>
{% endblock%}
