{% extends "base.html" %}
{% block content %}
    <div class="block rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
      <div class="border-b-2 border-neutral-100 px-6 py-3 dark:border-white/10">
        <h2 class="text-4xl font-extrabold dark:text-white">Quotes</h2>
      </div>
      {% for quote in quotes %}
          <div class="p-6">
            <blockquote>
              <p class="text-xl">{{ quote.quote }}</p>
            </blockquote>
            <figcaption class="text-md text-neutral-500">
              - Posted at <cite title="Source Title">{{ quote.posted_date }}</cite>
            </figcaption>
      </div>
      {% endfor %}
    </div>
{% endblock %}